/* impoortação */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:wght@100;400&display=swap');

/* variaveis */
:root{
    --color-1: #21EB00 ;
    --color-2: #191A18;
    --font-default:font-family: 'Roboto', sans-serif;
}
/* default */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    bottom:0;
    background-color:black;
    color:white;   
}
/* header do site */
header{
    display:flex;
    justify-content:space-between;
    margin-top:8vh;
}
/* h1 do header */
h1{
    color:var(--color-1);
    font-family:'Roboto', sans-serif;;
    margin-left:5vw;
    font-size:2.5rem;
}
/* button */
button{
    margin-right:6vw;
    border:none;
    background-color:var(--color-1);
    height:7vh;
    width:10vw;
    border-radius:10vw;
    margin-top:1.40vh;
    font-size:1.5rem;
    color:black;
    font-weight:bold;
    transition: 0.5s all;
    cursor: pointer;
}
/* h2 do main */
h2{
    text-align:center;
    font-size:4.0rem;
    font-family:'Roboto', sans-serif ;
    margin-top:4.5vh;
    color:var(--color-2);
}
/* div do cronometro */
main{
    display:flex;
    flex-direction:column;
    align-items:center;
    min-height:100vh;
    margin:0;
}
.caixa-contador{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-top:10vh;
}
.text{
    font-family:'Roboto', sans-serif;
    font-size:7rem;
    line-height:1;
    margin: 1rem 2rem;
}
.contador-el{
    text-align:center;
}
.contador-el Span{
    font-family: 'Roboto', sans-serif;
    color:var(--color-1);
    text-align:center;
    font-size:1.5rem;

}
/* hover do site */
button:hover{
    width:13vw;
    height:9vh;
}